<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="TestDAO" class="edu.laverno.dao.TestDAOImpl">
        <constructor-arg name="path" value="src/main/resources/static"/>
    </bean>

    <bean id="TestService" class="edu.laverno.service.TestService">
        <constructor-arg name="dao" ref="TestDAO"/>
    </bean>

</beans>